<h2>New Tweet</h2>

<form method='post' action='/tweets'>
    <input id='hidden' type='hidden' name='_method' value='new'>
    <input type='text' name='content' id='content' value='content'>
    <input type="submit" id="submit" value="Submit"/>
</form>