<h2> Users </h2>

<h3>Login</h3>

<form action='/login'  method='post'>

  <p>Name: <input type="text" name="username"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" id="submit" value="Submit"/>

</form>